/* You can add global styles to this file, and also import other style files */
  /* Theming */

/* Primary color for the background */
.gjs-one-bg {
    background-color: #18314F;
  }
  
  /* Secondary color for the text color */
  .gjs-two-color {
    color: rgb(188, 201, 228);
  }
  
  /* Tertiary color for the background */
  .gjs-three-bg {
    background-color: #ddec58;
    color: #ec5896;
  }
  
  /* Quaternary color for the text color */
  .gjs-four-color,
  .gjs-four-color-h:hover {
    color: #ff9800;
  }